body * {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

main {
	font-size: 0;
}

.container {
	margin-right: auto;
	margin-left: auto;
	width: 800px;
	height: 500px;
}

.green-box {
	color: "green";
	border: 1px solid black;
	display: inline-block;
	width: 50%;
	height: 40%;
}

.blue-box {
	color: "blue";
	border: 1px solid black;
	display: inline-block;
	width: 50%;
	height: 40%;
}

.grey-box {
	color: "grey";
	border: 1px solid black;
	display: inline-block;
	width: 33.33%;
	height: 60%;
}

.black-box {
	color: "black";
	border: 1px solid black;
	display: inline-block;
	width: 33.33%;
	height: 60%;
}

.orange-box {
	color: "black";
	border: 1px solid black;
	display: inline-block;
	width: 33.33%;
	height: 60%;
}