body * {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

main {
	font-size: 0;
}

.container {
	margin-right: auto;
	margin-left: auto;
	width: 800px;
	height: 500px;
}

.green-box {
	color: green;
	border: 1px solid black;
	width: 50%;
	height: 40%;
}