body * {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

main {
	font-size: 0;
}

.container {
	margin-right: auto;
	margin-left: auto;
	width: 800px;
	height: 500px;
}

.container > * {
	border: 1px solid black;
	display: inline-block;
}

.green-box {
	background-color: green;
	width: 50%;
	height: 40%;
}

.blue-box {
	background-color: blue;
	width: 50%;
	height: 40%;
}

.grey-box {
	background-color: grey;
	width: 33.33%;
	height: 60%;
}

.black-box {
	background-color: black;
	width: 33.33%;
	height: 60%;
}

.orange-box {
	background-color: orange;
	width: 33.33%;
	height: 60%;
}