body {
	background: url(../images/outerspace_landscape.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
	padding-right: 60px;
	padding-left: 60px;
	position: fixed;
	background-color: grey;
	width: 100%;
	height: 60px;
}

.logo {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav li {
	left: 10px;
	display: inline-block;
}

nav li:after {
	content: '|';
	margin-left: 5px;
}

main {
  padding-top: 90px;
  min-width: 1000px;
}

.green-box {
	width: 600px;
	height: 300px;
	border: 10px dotted green;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin-top: 150px;
}

.spacecat, .spacedog {
  position: absolute;
  width: 200px;
}

.spacecat {
  top: -90px;
  left: -90px;
}

.spacedog {
  bottom: -120px;
  right: -60px;
}